.homeWrapper {
   
    background-color: #F9F9F9;
    width: 1440px;
    max-width: 100%;
    min-height: 7575.212890625px;
    margin: 0 auto;
    opacity: 1;
    padding-left: 16px;
    padding-right: 16px;
    
}

.homeTitle {
    font-size: 28px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 10px;
}

.homeDescription {
    font-size: 16px;
    color: #374151;
}

